<!--Scripts Section-->
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="Scripts/app.js"></script>
<script src="/jquery/dist/jquery.min.js"></script>
 

  <!-- Vendor JS Files -->
  <script src="Assets/CSS/jquery/jquery.min.js"></script>
  <script src="Assets/CSS/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="Assets/CSS/jquery.easing/jquery.easing.min.js"></script>
  <script src="Assets/CSS/php-email-form/validate.js"></script>
  <script src="Assets/CSSr/jquery-sticky/jquery.sticky.js"></script>
  <script src="Assets/CSSr/waypoints/jquery.waypoints.min.js"></script>
  <script src="Assets/CSS/counterup/counterup.min.js"></script>
  <script src="Assets/CSS/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="Assets/CSS/venobox/venobox.min.js"></script>
  <script src="Assets/CSS/owl.carousel/owl.carousel.min.js"></script>
 

  <!-- Template Main JS File -->
  <script> src="public/Scripts/app.js"</script>
</body>
</html>




  

