</li>
<li class="page-item"><a class="page-link" href="/home">1</a></li>
<li class="page-item"><a class="page-link" href="/about">2</a></li>
<li class="page-item"><a class="page-link" href="/project">3</a></li>
<li class="page-item"><a class="page-link" href="/services">4</a></li>
<li class="page-item"><a class="page-link" href="/contact">5</a></li>
<li class="page-item">