<main class="container" >
    <div class="jumbotron" >
      <div style="text-align: center;">
        <h1>Welcome to the <%= title %> Page</h1>
      </div>
      <!-- //class="display-4 -->
      
      
    </div>
  </main>