

  <%-include partials/header.ejs%>
  <%-include partials/main_nav.ejs%>
  
  
  
   
      
      
</section>
<section id="home" class="d-flex flex-column justify-content-center align-items-center">
 <div class="home-container" data-aos="fade-in">
   <h1>Sreelakshmi Pushpan</h1>
   <div class="home-message">
     <p>I'm a Software Engineer</span></p>
   </div>
   
   <div class="hme-btn"> 
     <a href="/about" class="about-me-btn"><span class="btntxt">About Me</span></a>

   </div>
 </div>
</section><!-- End Hero -->


    <%-include partials/footer_nav.ejs%>
    <%-include partials/footer.ejs%>
 
    
