body {
  /* padding: 50px; */
  font: 1rem/1.5 var(--bs-font-sans-serif);
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */


}

a {
  color: var(--bs-blue);
}


.logo-image{
  
    /* border: 1px solid #ddd; */
    position: relative;
    border-radius: 4px;
    /* padding: 2px; */
    width: 150px;
    margin: -45px;
    /* top: 2px;; */
    bottom: 7px;
    
  }
  
  logo-image:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
  

  

  .navbar-expand-lg{
    background-color: rgba(21, 54, 65, 0.5); 
    position: fixed;
    color: azure;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* box-shadow: 2px 2px 2px -2px rgba(0,0,0,.2); */
    /* box-shadow: 10px 10px grey; */

  }
  .home{
    background-image: url(/Assets/images/Services2.png);
    background-repeat: no-repeat;
      background-size: cover;
      /* opacity: 50%; */
  }

  #home .welcomeMessage{
    background-color: darkgoldenrod;
    width: 60%;
  }

  /*---------------------------
  Home
  -----------------------*/
  #home  {
    width: 100%;
    height: 100vh;
    background: url("/Assets/images/Home1.png") top center;
    background-size: cover;
  }
 
  
  
  #home  :before {
    content: "";
    /* background: rgba(5, 13, 24, 0.3); */
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  
  #home  .hero-container {
    position: relative;
    z-index: 2;
    min-width: 300px;
  }
  
  #home  h1 {
    margin: 0 0 10px 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
    font-family: "Poppins", sans-serif;
  }
  
  #home  p {
    color: #fff;
    margin-bottom: 50px;
    font-size: 26px;
    font-family: "Poppins", sans-serif;
    text-shadow: 2px 2px 4px #000000;
  }
  
  #home  p span {
    color: #fff;
    padding-bottom: 4px;
    letter-spacing: 1px;
    border-bottom: 3px solid #149ddd;
  }

  
  
  .hme-btn{
    text-align: center;

  }
  
 .about-me-btn{
   position:relative;
   display: inline-block;
   padding: 10px 30px;
   font-size: 2em;
   text-decoration: none;
   text-transform: uppercase;
   font-weight: 500;
   letter-spacing: 2px;
   background-color: #dd5a92;
   color: #f3ebef;
   /* background: cornflowerblue; */
   font-size: 18px;
   border-radius: 40px;
   box-shadow: -2px -2px 8px rgba(225,225,225,1),
   -2px -2px 12px rgba(225,225,225,0.5),
   inset 2px 2px 4px rgba(225,225,225,0.1),
   2px 2px 8px rgba(0,0,0,15);
 }

 .about-me-btn:hover{
  box-shadow: inset -2px -2px 8px rgba(225,225,225,1),
  inset -2px -2px 12px rgba(225,225,225,0.5),
  inset 2px 2px 4px rgba(225,225,225,0.1),
  inset 2px 2px 8px rgba(0,0,0,15);

 }
 .about-me-btn:hover span{
   display: inline-block;
   transform: scale(0.98);

 }
  
  @media () {
    #home  {
      background-attachment: fixed;
    }
  }
  
  @media (max-width: 768px) {
    #home  h1 {
      font-size: 28px;
      line-height: 36px;
    }
    #home  h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  }

  


  
  /*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .section-title h2{
  margin-top: 5em;
  padding-bottom: 2em;
  text-align: left;
  font-size: 37px;
  font-weight: 800;
  text-transform: uppercase;
  width: 50%;
}
.about .row p{
  font-size: 18px;
  font-family: "Playfair Display", serif;
  line-height: 35px;
  color: #3c6387;

}

.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #173b6c;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-bottom: 10px;
}

.about .content ul i {
  font-size: 18px;
  font-family: "Playfair Display", serif;
  line-height: 35px;
  color: #3c6387;
}

.about .content p:last-child {
  margin-bottom: 0;
}


.resume{
  margin-top: 3em;
  background: #ff577f;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
  text-decoration: none;
  align-items: center;
  margin-bottom: 2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.resume:hover {
  background: #dd5a92;
}

.myPhoto{
  /* padding-bottom: 2em; */
  margin-bottom: 1em;
  size: 100%;
  height: auto;
  /* height: 100%; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



  /*------------------
  project
  -------------------*/

  .project .icon-box {
    margin-bottom: 20px;
  }

  .project .section-title h2{
    margin-top: 5em;
    padding-bottom: 2em;
    text-align: left;
    font-size: 37px;
    font-weight: 800;
    text-transform: uppercase;
    width: 50%;
  }
  

  .img-left {
    width: 25%;
    float: left;
    margin-right: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .img-right {
    width: 25%;
    float: right;
    margin-left: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .project-row {
    width: 100%;
    margin: 100px auto 100px auto;
    padding-left: 1em;
    text-align: left;
    padding-bottom: 3em;
    
  }
  .project-row p{
    text-align: left;
  }
  .project-row h3{
    text-align: center;
  }
  .project-row .box{
    width: 300px;
  height: 100px;
  border: 1px solid blue;
  }
  
  
 

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services{
  background-image: url(/Assets/images/Services2.png);
  background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 50%; */
}

.services .section-title h2{
  margin-top: 5em;
  padding-bottom: 2em;
  text-align: left;
  font-size: 37px;
  font-weight: 800;
  text-transform: uppercase;
  width: 50%;
}
.services .section-title p{
  font-size: 18px;
  font-family: "Playfair Display", serif;
  line-height: 35px;
  color: #3c6387;

}

.services .row{
  margin-bottom: 3em;
  margin-top: 3em;
}
.services .icon-box {
  padding: 20px 15px;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.2); */
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  background-color: #acc7cf;
  position: relative;
  z-index: 1;
}

.services .icon-box::before {
  content: '';
  position: absolute;
  height: 0;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
  transition: ease-in-out 0.3s;
  
}

.services .icon-box:hover::before {
  background: #ff577f;
  height: 100%;
  border-radius: 0px;
}
.services #box1{
  background-image: url(/Assets/images/SeleniumCucumber.png);
  background-repeat: no-repeat;
  /* background-size: contain; */
  background-size: 76%;
  background-position: center;
  background-color: azure;
  
}

.services #box2{
  background-image: url(/Assets/images/azure.png);
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-size: 105%;
  background-position: center;
  background-color: azure;
  
}

.services #box3{
  background-image: url(/Assets/images/powerquery.png);
  background-repeat: no-repeat;
  /* background-size: contain; */
  background-size: 86%;
  background-position: center;
  background-color: azure;
  
}

.services #box4{
  background-image: url(/Assets/images/mysql3.png);
  background-repeat: no-repeat;
  background-size: 143%;
  background-position: center;
  
}

.services .icon {
  margin: 0 auto 30px auto;
  padding-top: 10px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border-color: cornsilk;
  /* background: #ff577f; */
  
  transition: all 0.3s ease-in-out;
}

.services .icon i {
  font-size: 36px;
  line-height: 1;
  color: #fff;
}

.services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.services .title a {
  color: #111;
}

.services .description {
  font-size: 15px;
  text-align: left;
  margin-bottom: 0;
  line-height: 24px;
  
}

.services .icon-box:hover .title a, .services .icon-box:hover .description {
  color: #fff;
}

.services .icon-box:hover .icon {
  background: #fff;
}

.services .icon-box:hover .icon i {
  color: #ff577f;
}

@media (max-width: 768px) {
  .services .icon-box::before {
    bottom: 60%;
  }
}
/*----------------------------------
#Contact Me
------------------------------------*/
.contact .section-title h2{
  margin-top: 5em;
  padding-bottom: 2em;
  text-align: left;
  font-size: 37px;
  font-weight: 800;
  text-transform: uppercase;
  width: 50%;
}
.contact .contact-about h3 {
  letter-spacing: 3px;
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 29px;
  line-height: 2;
  font-weight: 300;
  color: #ff577f;
  text-transform: uppercase;
  
}


.contact .contact-about p {
  font-size: 18px;
  font-family: "Playfair Display", serif;
  line-height: 35px;
  color: #3c6387;
}

.contact .social-links {
  padding-bottom: 15px;
}

.contact .social-links a {
  display: inline-block;
  background: #fff;
  font-size: 18px;
  color: #ff577f;
  line-height: 2;
  padding: 1px 0;
  border-radius: 50%;
  margin-right: 7px;
  text-align: center;
  height: 35px;
  width: 35px;
  transition: 0.8s;
  border: 0.5px solid #ff577f;
  text-decoration: none;
   
}

.contact .social-links a:hover {
  color: #fff;
  background: #ff577f;
  transform: scale(2,2);
  
}

.contact .contactinfo {
  
  color: #3c6387;
  padding-left: 1em;
  padding-top: 1em;
}

.contact .contactinfo i {
  font-size: 32px;
  color: #ff577f;
  float: left;
  line-height: 1;
  
  /* margin-top: 2em; */
}

.contact .contactinfo p {
  line-height: 28px;
  padding: 0 0 11px 42px;
  font-size: 13px;
}



.contact .email-form input, .contact textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .email-form input:focus, .contact textarea:focus {
  border-color: #ff577f;
}

.contact #submit-btn {
  background: #ff577f;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
  text-decoration: none;
  align-items: center;
  margin-bottom: 2em;
}

.contact #submit-btn:hover {
  background: #dd5a92;
}

